<h1><%= @build.project.name %> - build #<%= @build.id %></h1>

<% if @build.issues.any? %>
  <table class="table table-hover">
  <% @build.issues.each do |i| %>
    <tr>
      <td>
        <%= i.message %>
        <pre style="margin: 10px"><%= i.line_contents[0..100] %><%= '...' if i.line_contents.length > 100 %></pre>
      </td>
      <td>line <%= i.line %>, column <%= i.character %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No issues found! Have a great day!</p>
<% end %>
