<h1><%= @build.project.name %> - build #<%= @build.id %></h1>

<% if @build.issues.any? %>
  <table class="table table-striped">
  <% @build.issues.each do |i| %>
    <tr>
      <td><%= i.message %></td>
      <td>line <%= i.line %>, column <%= i.character %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No issues found! Have a great day!</p>
<% end %>
