<% if user_signed_in? %>
<% @repos.sort_by! { |repo| [is_watching(repo) ? 0 : 1, repo.name] } %>
  <table class="table table-hover">
    <% @repos.each do |r| %>
      <tr>
        <td class="<%= 'watched' if is_watching(r) %>">
            <h4>

              <% if is_watching(r) %>
                <%= link_to r.name, Project.find_by_github_id(r.id) %>
              <% else %>
                <%= r.name %>
              <% end %>
            </h4>
        </td>
        <td class="watch-row">
            <% if is_watching(r) %>
                <button class="watch-btn btn btn-danger" disabled='disabled'>Stop Watching</button>
            <% else %>
                <%= form_for Project.new do |f| %>
                    <%= f.hidden_field :name, value: r.name %>
                    <%= f.hidden_field :full_name, value: r.full_name %>
                    <%= f.hidden_field :github_id, value: r.id %>
                    <%= f.submit "Watch", :class => ['watch-btn', 'btn', 'btn-success'] %>
                <% end %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
