<table class="table table-striped">
    <% @projects.each do |project| %>
        <tr>
            <td>
                <h4><a href="#"><%= project.name %></a></h4>
                <%= link_to "GitHub", project.github_url %>
                <%= form_for [project, Build.new] do |f| %>
                    <%= f.submit 'Run Tests', :class => 'btn' %>
                <% end %>
            </td>
            <td>
                <% project.builds.reverse.each do |b| %>
                    <%= link_to localize(b.updated_at, format: :long), project_build_path(project, b) %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
