<div class="row">
    <h1><%= @project.name %>
        <small>
            [<%= link_to 'reports', project_reports_path(@project) %> | <%= link_to 'settings', project_settings_path(@project) %> | <%= link_to_github "GitHub", @project %>]
        </small>
        <%= form_for [@project, Build.new], :html => {:class => 'run-btn form-inline pull-right center-block'} do |f| %>
            <%= f.submit 'Run Tests', :class => 'btn' %>
        <% end %>
    </h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Build</th>
    <th>Revision</th>
    <th>Branch</th>
    <th>Author</th>
    <th>Log</th>
    <th>Started</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% @project.builds.reverse.each do |b| %>
      <% if b.status == 'passed' %>
        <tr class='success'>
      <% elsif b.status == 'waiting' || b.status == 'queued' %>
        <tr class='active'>
      <% else %>
        <tr class='danger'>
      <% end %>
      <td><%= link_to b.number, project_build_path(@project, b) %></td>
      <td><%= link_to_revision(@project, b) %></td>
      <td><%= link_to_pull_request_or_branch(b.branch, @project, b) if (b.pull_id || b.branch) %></td>
      <td><%= b.author %></td>
      <td><%= b.message %></td>
      <td><%= localize(b.updated_at, format: :long) %></td>
      <td><%= b.status %></td>
      <td><%= link_to "Details", project_build_path(@project, b) %>
    </tr>
    <% if b.in_progress? %>
      <script>
       window.startPollingForFinishedBuild(<%= b.project.id %>, <%= b.number %>, window.reloadPage);
      </script>
    <% end %>
  <% end %>
</table>
