<div class="row">
    <div class="col-sm-10"><h1><%= @project.name %>
    <small>[<%= link_to 'reports', project_reports_path(@project) %> | <%= link_to 'settings', project_settings_path(@project) %>]</small></h1></div>
  <div class="col-sm-2">
  <%= form_for [@project, Build.new], :html => {:class => 'run-btn form-inline pull-right center-block'} do |f| %>
    <%= f.submit 'Run Tests', :class => 'btn' %>
  <% end %>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Build</th>
    <th>Revision</th>
    <th>Branch</th>
    <th>Author</th>
    <th>Log</th>
    <th>Started</th>
    <th>Status</th>
  </tr>

  <% @project.builds.reverse.each do |b| %>
      <% if b.status == 'passed' %>
        <tr class='success'>
      <% elsif b.status == 'waiting' || b.status == 'queued' %>
        <tr class='active'>
      <% else %>
        <tr class='danger'>
      <% end %>
      <td><%= link_to b.number, project_build_path(@project, b) %></td>
      <td><%= b.commit[0..7] %></td>
      <td><%= b.branch %></td>
      <td><%= b.author %></td>
      <td><%= b.message %></td>
      <td><%= localize(b.updated_at, format: :long) %></td>
      <td><%= b.status %></td>
    </tr>
  <% end %>
</table>
