<%
# FIXME very error prone and nonrobust querie(s)
# most recent build
@build = @project.builds.order(:created_at).includes(:stats).last
@js_stats = @build.stats.where(source: 'JSComplexity').take unless @build.nil?
%>
<% unless @js_stats.nil? %>
    <div class="row">
        <h2>JSComplexity</h2>
        <h3>Latest Stats</h3>
        <% if @js_stats.data.has_key? 'error' %>
            <div>JavaScript parsing error on last build:</div>
            <div class="alert alert-danger"><samp><%= @js_stats.data['error'] %></samp></div>
        <% else %>
            <div class="row">
                <div class="col-md-8">
                    <h4>Pinpoint</h4>
                    <table class="sortable-theme-bootstrap" data-sortable>
                        <tr>
                            <th>File</th>
                            <th>Maintanability</th>
                        </tr>
                        <% @js_stats.data['reports'].each do |report| %>
                            <tr>
                                <td><%= report['path'] %></td>
                                <td><%= report['maintainability'].round(2) %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
                <div class="col-md-4">
                    <!-- TODO add info about which build/commit this is from -->
                    <h4>Project Averages</h4>
                    <div class="panel panel-default stat-panel">
                        <div class="panel-heading">
                            cyclomatic complexity
                        </div>
                        <div class="panel-body">
                            <span class="stat"><%= '%.2f' % @js_stats.data['cyclomatic'] %></span>
                        </div>
                    </div>
                    <div class="panel panel-default stat-panel">
                        <div class="panel-heading">
                            maintainability
                        </div>
                        <div class="panel-body">
                            <span class="stat"><%= '%.2f' % @js_stats.data['maintainability'] %>
                            </span>
                        </div>
                    </div>
                    <div class="panel panel-default stat-panel">
                        <div class="panel-heading">
                            parameter count
                        </div>
                        <div class="panel-body">
                            <span class="stat"><%= '%.2f' % @js_stats.data['params'] %>
                            </span>
                        </div>
                    </div>
                    <div class="panel panel-default stat-panel">
                        <div class="panel-heading">
                            lines of code per function
                        </div>
                        <div class="panel-body">
                            <span class="stat"><%= '%.2f' % @js_stats.data['loc'] %>
                            </span>
                        </div>
                    </div>
                    <div class="panel panel-default stat-panel">
                        <div class="panel-heading">
                            Halstead effort <small>[<a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures">?</a>]</small>
                        </div>
                        <div class="panel-body">
                            <span class="stat"><%= '%.2f' % @js_stats.data['effort'] %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <h3>Trends</h3>
    </div>
<% end %>
