<div class="row">
  <h3>
    Project Totals

  </h3>
    <div class="panel panel-default stat-panel">
        <div class="panel-heading">
          total complexity score
          <br><small>(lower is better)</small>
        </div>
        <div class="panel-body">
            <span class="stat"><%= '%.1f' % @flog_report.data['total'] %></span>
        </div>
    </div>
    <div class="panel panel-default stat-panel">
        <div class="panel-heading">
          average method complexity
          <br><small>(lower is better)</small>
        </div>
        <div class="panel-body">
            <span class="stat"><%= '%.1f' % @flog_report.data['average'] %></span>
        </div>
    </div>
    <div class="panel panel-default stat-panel">
        <div class="panel-heading">
          code duplication score
          <br><small>(lower is better)</small>
        </div>
        <div class="panel-body">
            <span class="stat"><%= '%.1f' % @flay_report.data['total'] %></span>
        </div>
    </div>
</div>
<div class="row">
    <h3>Methods by Complexity</h3>
    <table class="sortable-theme-bootstrap reports-table" data-sortable>
        <thead>
            <tr>
                <th>Location</th>
                <th>Method</th>
                <th data-sorted="true" data-sorted-direction="descending" style="width: 10%">Complexity</th>
            </tr>
        </thead>
        <tbody>
            <% @flog_report.data['entries'].each do |entry| %>
                <tr>
                    <td><div class="collapsible"><span><%= entry['path'] %></span></div></td>
                    <td><%= entry['method'] %></td>
                    <td><%= entry['flog'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="row">
    <h3>Code Duplication Matches</h3>
    <table class="sortable-theme-bootstrap reports-table" data-sortable>
        <thead>
            <tr>
                <th>Locations</th>
                <th data-sorted="true" data-sorted-direction="descending" style="width: 10%">Code Mass</th>
                <th style="width: 10%">Match Type</th>
            </tr>
        </thead>
        <tbody>
            <% @flay_report.data['entries'].each do |entry| %>
                <tr>
                    <td>
                        <div class="collapsible"><span><%= "#{entry['first']['path']}: #{entry['first']['line']}" %></span></div>
                        <div class="collapsible""><span><%= "#{entry['second']['path']}: #{entry['second']['line']}" %></span></div>
                    </td>
                    <td><%= entry['mass'] %></td>
                    <td><%= entry['match_type'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
