<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Spearmint" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag "logo-small.png", size: "145x25", alt: "Spearmint Logo" %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to 'Projects', projects_path %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <%= github_username %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="divider"></li>
                    <li>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><a href="/users/auth/github">Log in with Github</a></li>
              <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <% if !user_signed_in? %>
  <div class="jumbotron" style="margin-top: -20px;">
    <div class="container">
      <h1>Welcome to Spearmint!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div> <!-- /container -->
  </div><!-- /jumbotron -->
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= bootstrap_flash %>
        <%= yield %>
        <% if !user_signed_in? %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan auctor porttitor. In hac habitasse platea dictumst. Mauris at venenatis velit. Phasellus at auctor diam. Cras a libero vestibulum, aliquet turpis et, tempus ante. Proin dolor massa, cursus quis lacinia ac, porta sit amet ex. Aliquam pretium lacus eget turpis luctus, ornare molestie sem pharetra.</p>

            <p>Nulla quam est, porta in est ac, rhoncus commodo risus. Proin rutrum orci ex, quis porta lectus hendrerit quis. Sed ut consectetur diam, non euismod ex. Pellentesque non eros vitae dolor porttitor maximus et nec ante. Sed rhoncus, arcu quis eleifend finibus, orci velit suscipit eros, eu auctor nisl est ut felis. Morbi id mollis tortor. Suspendisse potenti. Aliquam hendrerit pulvinar nibh, ac posuere tortor congue nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque quam nisl, auctor ultricies mi in, vehicula congue augue. Cras ligula erat, semper quis eleifend id, fringilla nec felis. Cras non tristique sapien, a consequat ipsum. Curabitur mattis tincidunt arcu, quis lobortis augue ornare eu. Cras iaculis gravida lacus a suscipit.</p>

            <p>Aliquam erat volutpat. Nulla dignissim eu odio vitae placerat. Nulla arcu enim, ullamcorper nec gravida id, malesuada sed libero. Morbi rutrum orci eu mi commodo ornare. Nam rutrum mauris eu suscipit ornare. Aenean urna mauris, aliquam eu porta ac, semper eget mi. Ut eget euismod urna. Vivamus felis justo, dignissim ut diam quis, tincidunt malesuada nibh. Fusce sit amet aliquet lectus. Vestibulum vestibulum velit non purus varius suscipit.</p>

            <p>Vestibulum ullamcorper imperdiet lorem accumsan molestie. Proin nulla nisi, pellentesque et semper non, consequat volutpat ante. Integer efficitur imperdiet sodales. Duis id massa nec dui efficitur semper. In hac habitasse platea dictumst. Donec dignissim massa ut tortor suscipit consequat. Nam molestie auctor metus. Nunc id ipsum nisl. Duis egestas purus ac ante suscipit, in varius sem posuere. Nulla mollis, leo nec suscipit porta, diam libero scelerisque quam, vitae porta sapien leo in felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ullamcorper massa. Ut sit amet vehicula diam. Etiam facilisis odio ac diam aliquet, id vehicula purus aliquet. Maecenas in purus nec augue aliquet auctor.</p>

            <p>Sed id aliquet mi, a accumsan erat. Duis congue fringilla vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc feugiat vestibulum dui sit amet viverra. Maecenas feugiat fringilla erat et vehicula. Etiam viverra posuere sem, ut varius urna volutpat at. Vivamus at tellus nec massa pulvinar fringilla sed non purus. Nulla semper luctus lorem et dignissim. Cras a augue dignissim, placerat tortor ac, tempus ipsum. Mauris diam urna, consequat in pulvinar at, interdum et massa. Pellentesque quis eros pharetra, semper ante ut, volutpat magna. Nulla eget nisl faucibus, ullamcorper justo porttitor, dapibus metus. Integer non est velit. Phasellus aliquet eros urna, et aliquam velit pulvinar sed. Donec vitae rutrum nisl, dictum commodo magna.</p>
        <% end %>
      </div>
    </div><!-- /row -->
    <hr>
    <p class='text-center'>&copy; Spearmint 2015</p>
  </div> <!-- /container -->

  </body>
</html>
